.mainBackground { 
    background: url("../images/background.png") no-repeat center fixed;
    height: 100vh;
    width:100%;
    margin:0;
    padding:0;
}
p {
    font-size:25px;
}

.margin20 {
    margin:10px;
}

.pokemonimg {
    transition: all 0.5s;
}

.pokemonimg:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.centerImage {
    justify-self:center;
}

.text-attack {
    color: #0C260C;
}

.musicBox {
    position:fixed;
    top:5%;
    right:5%;
}
audio{
    display:block;
    width:88px;
}

.min-height-170{
    min-height: 170px;
}